.card {
  width: 220px;
  padding: 15px;
  border: 2px solid rgb(255, 255, 255);

  border-radius: 10px 9px 9px 8px;

  text-align: left;
  box-shadow: -50px 15px -3px rgba(76, 25, 104, 0.05);
  background-image: url(download.webp);
  margin: 10px;
  box-shadow: 20px red;
}

.card h3 {
  text-align: center;
  margin-bottom: 10px;
}
body {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid;
  padding: 10px;
}
h3 {
  color: red;
}
